{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <hr>
        <form style="margin-top: 20px;" method="post" class="ui form">
            {% csrf_token %}
            <div class="mt-4">
                {{ form.non_field_errors }}
            </div>
            <div class="field">
                {% render_field form.username class="form-control center aligned text" placeholder="username" %}
            </div>
            <div class="field">
                {% render_field form.password class="form-control" placeholder="password" %}          
            </div>
            <input style="font-family: Aclonica; margin-top: 10px; margin-bottom: 10px;" type="submit" class="btn btn-outline-dark" value="Login">
        </form>

        <div class="mt-5">
            <a href="{% url "register" %}">
                Don't have an account
            </a>
        </div>
        <div class="mt-2 mb-2">
            <a href="{% url "password_reset" %}">
                Frogotten Password?
            </a>
        </div>
    </div>
{% endblock %}
