{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Change your password{% endblock %}

{% block content %}
    <h1>Change Your Password</h1>
    <form method="post">
        <div class="mt-4">
            {{ form.non_field_errors }}
        </div>
        {% csrf_token %}
        {% render_field form.old_password class="form-control mt-4 mb-4" placeholder="Old Password" %}
        {% render_field form.new_password1 class="form-control mb-4" placeholder="New Password" %}
        {% render_field form.new_password2 class="form-control mb-4" placeholder="Confirm Password" %}
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-outline-dark">
        </div>
        
    </form>
    <ul class="formlist mt-4 pt-4">
        <li>Your password can’t be too similar to your other personal information.
        <li>Your password must contain at least 8 characters.</li>    
        <li>Your password can’t be a commonly used password.</li>    
        <li>Your password can’t be entirely numeric.</li>
    </ul>
{% endblock %}