{% extends "base.html" %}

{% block title %}| Delete Post{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if "warning" in message.tags %}
                <div class="ui negative message">
                    <div class="header">
                        {{ message }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    
    {% else %}
        <div class="ui segment">
            <h3>Delete post?</h3>
            <form method="post" style="display: inline;">
                <p>Are you sure want to delete the post?</p>
                {% csrf_token %}
                <button style="border-radius: 1px;" class="ui button negative" type="submit">confirm</button>
            </form>
            <a href="{% url "posts:main-post-view" %}">
                <button style="border-radius: 1px;" class="ui button blue" type="submit">cancel</button>
            </a>
        </div>
    {% endif %}
{% endblock %}